*.o
.sconsign.dblite
third_party/cppzmq-4.5.0/
third_party/protobuf-3.11.2/
third_party/raspicam/
third_party/zeromq-4.3.2/
third_party/go/
third_party/archive/go*
third_party/loguru/
drone/drone
drone/kill_drone
*~
*.swp
drone_settings.txt
drone/logs/*
drone/scripts/remote_control/__pycache__
drone/scripts/remote_control/env/
drone/scripts/remote_control/msgDef_pb2.pyc
third_party_install.log
